.container-fluid {
    font-size: 20px;
}

.izenburua img {
    width: 150px;
    border-radius: 3%;
}

.btn img {
    width: 80px;
}

.menua {
    background: linear-gradient(0.25turn,#776e6e, #171717);
    padding: 10px 20px 10px 30px;

}

.navbar1 {
    margin-top: 20px;
    width: 80%;
    background: linear-gradient(0.25turn,#776e6e, #171717);
    color: white;
    padding: 25px;
    font-size: 18px;
    border-radius: 3%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.carousel-inner img {
    border-radius: 3%;
    width: 100%;
    height: auto;
}

.row{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: auto;
    
}

.container img {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    margin-top: 150px;
    border-radius: 25px;
}


body {
    margin: 0;
    background-color: #ffffff;
    text-align: center;
}

footer {
    background-color: rgb(255, 214, 196);
    color: black;
    text-align: center;
    padding: 5px;
    margin-top: 50px;
}

footer p {
    padding-bottom: 1px;
}
